header {
  text-align: center;
}

header .logo {
  width: 200px;
}

main .board {
  border: 1px solid lightgrey;
  margin: 0 200px;
  padding: 10px 0;
}

main .row {
  display: flex;
  justify-content: center;
}

main .cell {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: lightgrey;
  text-align: center;
}

footer {
  padding: 10px;
  text-align: center;
}
