header {
  text-align: center;
}

header .logo {
  width: 20vw;
}

/* Path: src/components/Board.css */

main .board {
  border: 1px solid grey;
  width: 100%;
}

main .row {
  display: flex;
  justify-content: center;
}

main .cell {
  width: 10%; /* 8 rows of 10 cells */
  border: 1px solid grey;
  background-color: lightgrey;
  text-align: center;
}

footer {
  text-align: center;
}
